<launch>
  <param name="robot_description" textfile="$(find espdrone)/urdf/espdrone.urdf" />

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/espdrone/joint_states" />
  </node>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find espdrone)/config/espdrone.rviz" required="true" />
</launch>
