<launch>
  <param name="/use_sim_time" value="true" />'
  <!-- start world -->
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="empty_world"/>
		<arg name="verbose" value="true"/>
</include>
  <include file="$(find espdrone_driver)/launch/drones.launch"/>
</launch>
