<launch>
	<arg name="x" default="0.0" />
	<arg name="y" default="0.0" />
	<arg name="z" default="0.0" />
	<arg name="R" default="0.0" />
	<arg name="P" default="0.0" />
	<arg name="Y" default="0.0" />
	<arg name="name" default="espdrone" />
  <arg name="frame" default="base_link" />
  <arg name="worldFrame" default="world_frame" />

<rosparam file="$(find espdrone_driver)/config/config.yaml" command="load"/>
<param name="robot_description" command="$(find xacro)/xacro '$(find espdrone_driver)/urdf/espdrone.urdf.xacro' name_space:=$(arg name)"/>


  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    respawn="false"
    args="-model $(arg name) -urdf -param robot_description -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"
    output="screen" />

  <node name="controller" pkg="espdrone_controller" type="espdrone_controller" output="screen" ns="/$(arg name)" >
    <param name="frame" value="$(arg frame)" />
    <param name="worldFrame" value="$(arg worldFrame)" />
    <rosparam command="load" file="$(find espdrone_controller)/config/espdrone.yaml" />
  </node>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/$(arg name)/joint_states" />
  </node>
</launch>
