<launch>
  <arg name="lever" default="0.05"/>
  <arg name="drone_index" default="1"/>

  <!-- load pids_values and others-->
  <rosparam file="$(find espdrone_controller)/params/controller.yaml" />

  <node name="twist_controller" pkg="espdrone_controller" type="twist_controller" output="screen">
  </node>

  <node name="motor_controller" pkg="espdrone_controller" type="motor_controller" output="screen">
    <param name="lever" value="$(arg lever)"/>
    <param name="base_link_frame" value="base_link_$(arg drone_index)"/>
  </node>

  <node name="drone_teleop" pkg="espdrone_controller" type="teleop_twist_keyboard.py" output="screen">
    <param name="drone_index" value="$(arg lever)"/>
    <remap from="/cmd_vel" to="/drone$(arg drone_index)/cmd_vel" />
  </node>

</launch>